@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');
@import url('./custom/distribution-bar.css');
@import url('./custom/version-combo-container.css');
@import url('./custom/project-layout.css');
@import url('./custom/report-status.css');
@import url('./custom/project-selector.css');
@import url('./custom/priority-bar.css');
@import url('./custom/home-page.css');
@import url('./custom/project-toolbar-layout.css');
@import url('./custom/reports-overview.css');
@import url('./custom/manage-button-container.css');

html {
    --_lumo-button-background-color: white;
    --lumo-primary-color: #4B5BD6;
    --lumo-primary-text-color: #414FBC;
    --lumo-secondary-color: #0A8BAE;
    --lumo-secondary-text-color: #097492;
    --lumo-tertiary-color: #DF9135;
    --lumo-tertiary-text-color: #BC8341;

    --table-row-selected-bg: rgba(231, 245, 237, 1);
    /*--_lumo-button-color: var(--lumo-primary-color);*/
   --background-color: var(--lumo-contrast-5pct);
}