:host vaadin-input-container {
    background-color: white;
}
:host [part="label"] {
    color: var(--lumo-contrast-60pct);
}
:host(.bordered) vaadin-input-container{
    border: 1px solid var(--lumo-contrast-20pct);
}