.comment-row {
    background-color: white;
    border: 1px solid var(--lumo-contrast-20pct);
    /*TODO how to add shadow ?? */
    box-shadow: 0 1px 2px  var(--lumo-contrast-20pct);
    overflow: visible;
    border-radius: 4px;
    margin-top: unset;
    margin-bottom: unset;
}
.comment-row span {
    font-size: var(--lumo-font-size-m);
}
.comment-row .user-label {
    font-weight: bold;
}
.comment-row .time-label {
    font-size: var(--lumo-font-size-xxs);
    color: var(--lumo-contrast-40pct);
}
.comment-row .attachment-label {
    font-size: var(--lumo-font-size-xs);
    color: var(--lumo-contrast-40pct);
}