.home-page {
    /*ask this important. How to do this better*/
    margin: 32px;
    width: unset !important;
    border: 1px solid var(--lumo-contrast-10pct);
}
.home-page {
    gap: unset;
    padding: unset;
}