.not-found-layout {
    position: absolute;
    margin:auto;
}
.not-found-layout .header {
    font-weight: bold;
    font-size: var(--lumo-font-size-xxl);
}
.not-found-layout .description {
    font-weight: bold;
    color: var(--lumo-contrast-60pct);
    font-size: var(--lumo-font-size-l);
}