.project-layout {
    background-color: var(--background-color);
    height: 100%;
}
.project-layout vaadin-split-layout {
    height: 100%;
}
.project-layout #selectAllCheckbox {
    display: none;
}
.inner-panel {
    background-color: white;
}