.project-selector {
    background-color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: unset;
    -webkit-box-shadow: 0 2px 4px var(--lumo-contrast-20pct);
    -moz-box-shadow: 0 2px 4px var(--lumo-contrast-20pct);
    box-shadow: 0 2px 4px var(--lumo-contrast-20pct);
    z-index: 1;

}
.project-selector label{
    margin: auto;
    color: var(--lumo-primary-color);

}
.project-selector .manager-label {
    border:unset;
}
.project-selector vaadin-icon {
    margin:auto;
    width: var(--lumo-icon-size-s);
    height: var(--lumo-icon-size-s);
    color: var(--lumo-primary-color);
}
