.reports-overview {
    background-color: var(--background-color);
    overflow-y: scroll;
}
.reports-overview a vaadin-icon {
    padding: 0.25em;
}
.reports-overview .primary-label {
    font-weight: bold;
    font-size: var(--lumo-font-size-l);
}
.reports-overview .secondary-label {
    margin: auto;
}
.reports-overview .comment-list {
    overflow-y: scroll;
    /*max-height: 180px;*/
}