.report-detail-breadcrumb {
    background-color: white;
    margin-bottom: unset;
    -webkit-box-shadow: 0 2px 4px var(--lumo-contrast-20pct);
    -moz-box-shadow: 0 2px 4px var(--lumo-contrast-20pct);
    box-shadow: 0 2px 4px var(--lumo-contrast-20pct);
    z-index: 1;
    min-height: 52px;
}
.breadcrumb-label span {
    margin: auto;
}
.breadcrumb-label {
    position: relative;
    display: flex;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
    white-space: nowrap;
    background-color: var(--lumo-secondary-color);
    clip-path: polygon(calc(100% - 10px) 0, 100% 50%, calc(100% - 10px) 100%, 0% 100%, 0% 50%, 0% 0%);
}
