.reports-overview {
    background-color: var(--background-color);
    overflow-y: scroll;
}
.reports-overview a vaadin-icon {
    padding: 0.25em;
}
.reports-overview .primary-label {
    font-weight: bold;
    font-size: var(--lumo-font-size-l);
}
.reports-overview .secondary-label {
    margin: auto;
}
.reports-overview .attachment-label-header {
    font-weight: 500;
    color: var(--lumo-contrast-50pct)
}
.reports-overview .attachment-description-label {
    color: var(--lumo-contrast-30pct);
    font-size: var(--lumo-font-size-s);
}