.report-detail-breadcrumb {
    background-color: white;
    margin-bottom: unset;
    -webkit-box-shadow: 0 2px 4px var(--lumo-contrast-20pct);
    -moz-box-shadow: 0 2px 4px var(--lumo-contrast-20pct);
    box-shadow: 0 2px 4px var(--lumo-contrast-20pct);
    z-index: 1;
    min-height: 52px;
}
.breadcrumb-label span {
    margin: auto;
}
.breadcrumb-label {
    position: relative;
    display: flex;
    color: white;
    justify-content: center;
    background-color: var(--lumo-secondary-color);
    clip-path: polygon(98% 0, 100% 50%, 98% 100%, 0% 100%, 0% 50%, 0% 0%);
}
.breadcrumb-label::after {
    /*content:"";*/
    /*border-top:20px solid transparent;*/
    /*border-bottom:25px solid transparent;*/
    /*border-left:30px solid var(--lumo-secondary-color);*/
    /*position:absolute;*/

    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*-webkit-transform: translateX(0.667em);*/
    /*transform: translateX(0.667em);*/
}